<!-- verifycode.component.html -->
<div class="auth-container">
    <!-- Verify Code Form -->
    <div class="form-section">
      <div class="back-link">
        <a href="javascript:void(0)" routerLink="/login">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M15 18L9 12L15 6" stroke="#1C1B1F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          Back to login
        </a>
      </div>
  
      <h2>Verify code</h2>
      <p class="auth-subtext">An authentication code has been sent to your email.</p>
      
      <form (submit)="onSubmit(code.value)">
        <div class="input-container">
            <input id="code" type="code" placeholder="Enter Code"  #code
            required/>
            <label for="code">Enter code</label>
          </div>
  
        <div class="resend-code">
          <span>Didn't receive a code?</span>
          <a href="javascript:void(0)">Resend</a>
        </div>
  
        <button type="submit" class="primary-button">Verify</button>
      </form>
    </div>
  
    <!-- Image Section -->
    <div class="image-section">
      <img src="assets/images/login.jpg" alt="Verify Code" class="auth-image" />
    </div>
  </div>