<!-- setpassword.component.html -->
<div class="auth-container">
    <!-- Set Password Form -->
    <div class="form-section">
      <h2>Set a password</h2>
      <p class="auth-subtext">Your previous password has been reseted. Please set a new password for your account.</p>
      
      <form>
        <div class="input-group">
          <label>Create Password</label>
          <div class="password-input-wrapper">
            <input type="password" placeholder="Enter new password"/>
            <!-- <button type="button" class="toggle-visibility">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 5.25C4.5 5.25 1.5 12 1.5 12C1.5 12 4.5 18.75 12 18.75C19.5 18.75 22.5 12 22.5 12C22.5 12 19.5 5.25 12 5.25Z" stroke="#1C1B1F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M12 15.75C14.0711 15.75 15.75 14.0711 15.75 12C15.75 9.92893 14.0711 8.25 12 8.25C9.92893 8.25 8.25 9.92893 8.25 12C8.25 14.0711 9.92893 15.75 12 15.75Z" stroke="#1C1B1F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </button> -->
          </div>
        </div>
  
        <div class="input-group">
          <label>Re-enter Password</label>
          <div class="password-input-wrapper">
            <input type="password" placeholder="Re-enter new password" />
            <!-- <button type="button" class="toggle-visibility">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 5.25C4.5 5.25 1.5 12 1.5 12C1.5 12 4.5 18.75 12 18.75C19.5 18.75 22.5 12 22.5 12C22.5 12 19.5 5.25 12 5.25Z" stroke="#1C1B1F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M12 15.75C14.0711 15.75 15.75 14.0711 15.75 12C15.75 9.92893 14.0711 8.25 12 8.25C9.92893 8.25 8.25 9.92893 8.25 12C8.25 14.0711 9.92893 15.75 12 15.75Z" stroke="#1C1B1F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </button> -->
          </div>
        </div>
  
        <button type="submit" class="primary-button">Set password</button>
      </form>
    </div>
  
    <!-- Image Section -->
    <div class="image-section">
      <img src="assets/images/setpassword.png" alt="Set Password" class="auth-image" />
    </div>
  </div>