<div class="login-container">
    <!-- Left Partition for Login Form -->
    <div class="login-form">
      <h2>Login</h2>
      <p class="login-subtext">Login to access your Travelwise account</p>
      <form>
        <div class="input-container">
          <input id="email" type="email" placeholder="Enter your email" />
          <label for="email">Email</label>
        </div>
    
        <div class="input-container">
          <input id="password" type="password" placeholder="Enter your password" />
          <label for="password">Password</label>
        </div>
        <!-- <div class="remember-me">
            <input type="checkbox" id="remember-me" />
            <label for="remember-me">Remember me</label>
        </div>
     -->
        
        
        <button type="submit">Login</button>
        
      </form>
      <div class="signup-text">
        <p>Don’t have an account? <a href="#" class="signup-link">Sign up</a></p>
        </div>
    </div>
    
    <!-- Right Partition for Image -->
    <div class="login-image">
      <img src="assets/images/login.jpg" alt="Side Banner" />
    </div>
  </div>
  